<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Account Settings</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <img src="{{ profilePicSource }}">
  <form #settingsForm="ngForm" validate>
    <div class="form-group">
      <label for="email">Current e-mail: {{ email }} | </label>
      <button class="btn btn-danger" 
              (click)="onEmailEdit()"
              [disabled]="editPassw || editNick ? true : false"
              >Edit</button>
      <div *ngIf="editEmail">
        <label for="email">New e-mail: </label>
        <input type="email" ngModel name="email" [value]="email" email required style="margin-left: 10px;">
      </div>
    </div>
    <div class="form-group">
        <label for="email">Current Password: {{ password }} | </label>
        <button class="btn btn-danger" 
                (click)="onPasswEdit()" 
                [disabled]="editEmail || editNick ? true : false"
                >Edit</button>
            <div *ngIf="editPassw">
              <label for="password">New password: </label>
              <input type="password" ngModel name="password" [value]="password" password required minlength="8" style="margin-left: 10px;">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Current Nickname: {{ nickname }} | </label>
            <button class="btn btn-danger" 
                    (click)="onNickEdit()"
                    [disabled]="editEmail || editPassw ? true : false"
                    >Edit</button>
            <div *ngIf="editNick">
              <label for="text">New nickname: </label>
              <input type="text" ngModel name="nickname" required>
          </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled] = "!settingsForm.valid" (click)="onSaveChanges(settingsForm)">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose(settingsForm)">Close</button>
  </div>
</div>


        

