<div class="container-fluid" style="padding: 0px;">
<app-navbar></app-navbar>
<div class="row" style="margin-right: 0px;">
  <div *ngIf="isLoggedIn; else notLogged" class="col-xs-2 col-md-2 side-menu">
    <app-menu></app-menu>
  </div>  
  <div [@routeAnimations]="prepareRoute(outlet)" class="col-xs-10 col-md-10 router-container" id="playground">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>


<!-- DO NOT display side menu if user's not logged in -->
<ng-template #notLogged>
    <div class="col-md-2 side-menu">
    </div>  
</ng-template>
</div>

  






