@media screen and (max-width:320px){

#playground{
    padding: 0px;
    width: 70vw;
    height: 92vh;
    border-top: 1px solid black;
    }

.side-menu{
    width: 15vw;
    height: 92vh;
    background-color: rgba(235, 235, 235, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    }
}

@media screen and (min-width:1000px){

#playground{
    padding: 0px;
    width: 70vw;
    height: 92vh;
    border-top: 1px solid black;
    }
    
.side-menu{
    width: 15vw;
    height: 92vh;
    background-color: rgba(235, 235, 235, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    }
}

.route-container {
    position:relative;
}
.route-container>* {
    display:block;
}