@media screen and (max-width:320px){
    #form{
        padding: 0px;
        text-align: center;
    }

    #footer{
        margin-top: 20px;
    }
}

input.ng-touched.ng-invalid {
    border: 1px groove rgba(253, 18, 18, 0.849);
  }

h1{
    text-align: center;
    margin-top: 30px;
}

p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.row{
    text-align: center;
}

#formBg{
    background-color: rgb(211, 211, 211);
    border-radius: 3%;
    height: 450px;
    display: block;
}

#form{
    padding-top: 10px;
    text-align: center;
}

#footer{
    margin-top: 55px;
}

#buttons{
    margin-top: 60px;
}

.form-group{
    margin-top: 35px;
    padding-right: 0px;
}

input{
    width: 225px;
    margin: auto;
}


