<div class="container-fluid">
<h1 *ngIf="!isLoading">Welcome to MyTCGApp!</h1>
<div *ngIf="isLoading">
    <app-loading></app-loading>
    <p *ngIf="timer < 2" style="text-align: center;">Logging in...</p>
    <p *ngIf="timer >= 2"style="text-align: center;">Loading...</p>
</div>

<div *ngIf="!isLoading" class="row">
    <div class="col-xs-2 col-md-4"></div>
    <div class="col-xs-8 col-md-4" style="padding-top: 6vh; padding-right: 0px;">
        <div id="formBg" class="shadow-lg bg-white rounded">
            <div class="row">
                <div class="container-fluid" id="form">
                    <form #authForm="ngForm" validate>
                        <div class="form-group" style="padding-right: 0px;">
                            <label for="email">E-mail:</label>
                            <input type="email" 
                            id="email"
                            placeholder="Email" 
                            class="form-control" 
                            ngModel
                            name="email" 
                            [value]="email"
                            required
                            email>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                                <input type="password" 
                                id="password"
                                placeholder="Password" 
                                class="form-control" 
                                ngModel 
                                name="password"
                                [value]="password" 
                                required
                                password
                                minlength="8">
                                <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: center;">
                                    8 characters min.
                                </small>
                        </div>
                        <div id="buttons">
                            <button *ngIf="isRegistered" 
                            class="btn btn-primary" 
                            (click)="onLogIn(authForm)" 
                            [disabled]="!authForm.valid"
                            >Log in</button>
                            <button *ngIf="!isRegistered" 
                            class="btn btn-primary" 
                            (click)="onSignUp(authForm)"
                            [disabled]="!authForm.valid"
                            >Sign up</button>
                        </div>
                        <div id="footer">
                        <div *ngIf="isRegistered"> 
                            <p style="font-size: 80%">New to MyTCGApp?</p>
                            <a routerLink="" (click)="onLinkClick(authForm)" style="font-size: 80%">Click here to register</a>
                        </div>
                        <div *ngIf="!isRegistered"> 
                            <p style="font-size: 80%">Got an account already?</p>
                            <a routerLink="" (click)="onLinkClick(authForm)" style="font-size: 80%">Click here to log in</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            </div>
    </div>
    <div class="col-xs-2 col-md-4"></div>   
</div>

<div><app-error *ngIf="error" [error] = "error"></app-error></div>
</div>



